<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
	internalLogLevel="None">
	<variable name="myConnectionstring" value="Server=tcp:hqrb.database.windows.net,1433;Initial Catalog=hqrbSolutions;Persist Security Info=False;User ID=HiQo;Password=Solutions2007;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
	<targets>
		<target xsi:type="Database" name="dbBadRequestError"
		dbProvider="System.Data.SqlClient"
		connectionString="${var:myConnectionstring}"
		commandText="insert into [BadRequestLog]([Date], [Exeption],[Method]) values (@createDate, @exeption, @method);">
			<parameter name="@createDate" layout="${longdate}"/>
			<parameter name="@message" layout="${message}"/>
			<parameter name="@method" layout="${event-properties:item=Method}"/>
			<parameter name="@exeption" layout="${event-properties:item=Exeption}"/>
		</target>
	</targets>

	<targets>
		<target xsi:type="Database" name="dbRequestProcessingLog"
		dbProvider="System.Data.SqlClient"
		connectionString="${var:myConnectionstring}"
		commandText="insert into [RequestProcessingLog]([Date], [Path], [HTTPMethod], [StatusCode]) values (@createDate, @path, @httpmethod, @statuscode);">
			<parameter name="@createDate" layout="${longdate}"/>
			<parameter name="@path" layout="${event-properties:item=Path}"/>
			<parameter name="@httpmethod" layout="${event-properties:item=HTTPMethod}"/>
			<parameter name="@statuscode" layout="${event-properties:item=StatusCode}"/>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Error" maxlevel="Error" writeTo="dbBadRequestError" />
		<logger name="*" minlevel="Info" maxlevel="Info" writeTo="dbRequestProcessingLog" />
	</rules>
</nlog>
