<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="KCCA_BASE_API_URL" value="https://mail.hiqo-solutions.com:443/webmail/api/jsonrpc/" />
		<add key="KCCA_LOGIN_METHOD" value="Session.login" />
		<add key="KCCA_CREATE_EVENT_METHOD" value="Events.create" />
		<add key="KCCA_APP_NAME" value="HiQo Kerio Connect API Calendar Clinet" />
		<add key="KCCA_APP_VERSION" value="0.2" />
		<add key="KCCA_APP_VENDOR" value="HiQo Solutions" />
		<add key="KCCA_AUTH_USERNAME" value="TUTEMAIL" />
		<add key="KCCA_AUTH_PASSWORD" value="TUTPASSWORD" />
		<add key="KCCA_FOLDER_ID" value="TUTFOLDERID" />
		<add key="KCCA_ORG_EMAIL" value="TUTTOJEEMAIL" />
		<add key="KCCA_ORG_DISPLAY_NAME" value="HiQo Remote Booking" />
	</appSettings>
</configuration>