<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BASE_API_URL" value="https://mail.hiqo-solutions.com:443/webmail/api/jsonrpc/" />
		<add key="LOGIN_METHOD" value="Session.login" />
		<add key="CREATE_EVENT_METHOD" value="Events.create" />
		<add key="APP_NAME" value="HiQo Kerio Connect API Calendar Clinet" />
		<add key="APP_VERSION" value="0.2" />
		<add key="APP_VENDOR" value="HiQo Solutions" />
		<add key="AUTH_USERNAME" value="TUTEMAIL" />
		<add key="AUTH_PASSWORD" value="TUTPASSWORD" />
		<add key="FOLDER_ID" value="TUTFOLDERID" />
		<add key="ORG_EMAIL" value="TUTTOJEEMAIL" />
		<add key="ORG_DISPLAY_NAME" value="HiQo Remote Booking" />
	</appSettings>
</configuration>